<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="main.com.em.dao.UserMapper">
    <select id="findUserById" parameterType="string" resultType="main.com.em.domain.User">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <insert id="addNewUser" parameterType="main.com.em.domain.User">
        INSERT INTO user VALUES (#{id},#{password},2)
    </insert>
</mapper>